* {
    padding: 0;
    margin: 0;
    list-style: none;
}



.login__container {
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login__form {
    width: 600px;
    height: 300px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    border: solid 1px;
}

.login__form-input-user {
    width: 41%;
    position: absolute;
    right: 24%;
    margin-top: 40px;
}

.login__form-input-pass {
    width: 41%;
    background:blue;
    position: absolute;
    right: 24%;
    margin-top: 160px;
}

.login__form-login {
    width: 20%;
    height: 33%;
    background: #d3c9c9;
    border-radius: 15px 0 0 0;
}
.login__form-login:hover {
    background-color: #604c77;
}

.login__form-register {
width: 20%;
height: 33%;
background: #d3c9c9;;
}
.login__form-register:hover {
    background-color: #604c77;
}

.login__form-password {
width: 20%;
height: 34%;
background: #d3c9c9;;
border-radius: 0 0 0 15px;

}
.login__form-password:hover {
    background-color: #604c77;
}

.footer {
    display: flex;
    justify-content: center;
}

